

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic);


@font-face {
	font-family:'Museo Slab';
	src: url('fonts/museo-slab-regular.eot');
	src: url('fonts/museo-slab-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/museo-slab-regular.woff') format('woff'),
		url('fonts/museo-slab-regular.ttf') format('truetype'),
		url('fonts/museo-slab-regular.svg#MuseoSlab-500') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family: 'Museo Slab Italic';
	src: url('fonts/museo-slab-bold-italic_gdi.eot');
	src: url('fonts/museo-slab-bold-italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/museo-slab-bold-italic_gdi.woff') format('woff'),
		url('fonts/museo-slab-bold-italic_gdi.ttf') format('truetype'),
		url('fonts/museo-slab-bold-italic_gdi.svg#MuseoSlab-500Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family: 'Museo Slab Bold';
	src: url('fonts/museo-slab-bold.eot');
	src: url('fonts/museo-slab-bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/museo-slab-bold.woff') format('woff'),
		url('fonts/museo-slab-bold.ttf') format('truetype'),
		url('fonts/museo-slab-bold.svg#MuseoSlab-700') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family: 'Museo Slab Bold Italic';
	src: url('fonts/museo-slab-bold-italic_gdi.eot');
	src: url('fonts/museo-slab-bold-italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/museo-slab-bold-italic_gdi.woff') format('woff'),
		url('fonts/museo-slab-bold-italic_gdi.ttf') format('truetype'),
		url('fonts/museo-slab-bold-italic_gdi.svg#MuseoSlab-700Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'Clear Line';
	src: url('fonts/clear-line.eot');
	src: url('fonts/clear-line.eot?#iefix') format('embedded-opentype'),
		url('fonts/clear-line.woff') format('woff'),
		url('fonts/clear-line.ttf') format('truetype'),
		url('fonts/clear-line.svg#ClearLine-PERSONALUSEONLY') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}


@mixin font-title {
	font-family: "Museo Slab", "Rokkit", serif;
}

@mixin font-title-italic {
	font-family: "Museo Slab Italic", "Rokkit", serif;
}

@mixin font-title-bold {
	font-family: "Museo Slab Bold", "Rokkit", serif;
}

@mixin font-title-bold-italic {
	font-family: "Museo Slab Bold Italic", "Rokkit", serif;
}

@mixin font-cursive {
	font-family: "Clear Line", cursive;
}

@mixin font {
	font-family: "Open Sans", sans-serif;
}

@mixin font-bold {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}

@mixin font-italic {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
}

@mixin font-bold-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-style: italic;
}

